<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMALL WORLD / About US</title>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../css/indexstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/aboutus.css">

</head>
<body>
    <div id="myNav" class="overlay">
        <a href="#" class="closebtn"><i class="a closebtn fas fa-times"></i></a>
        <ul class ="nav-links">
            <li class="list">
                <ul class="first">
                    <li><a class="a small-list" href="index.html"><b>home</b></a></li>
                    <li><a class="a small-list" href="aboutus.html"><b>about us</b></a></li>
                    <li><a class="a small-list" href="contactus.html"><b>contact us</b></a></li>
                    <li><a class="a small-list"></a></li>
                </ul>
            </li>
            <li class="vertical-line"></li>
            <li class="list">
                <ul class="smallworldtitle">
                    <li><h3><strong>small world</strong></h3></li>
                    <li><a class="a small-list"></a></li>
                    <li><a class="a small-list"></a></li>
                    <li><a class="a small-list"></a></li>

                </ul>
            </li>
            <li class="list">
                <ul class="second">
                    <li><a class="a small-list all" href="product.html#all">All</a></li>
                    <li><a class="a small-list tops" href="product.html#tops">Tops</a></li>
                    <li><a class="a small-list bottoms" href="product.html#bottoms">Bottoms</a></li>
                    <li><a class="a small-list dresses" href="product.html#dresses">Dresses</a></li>
                    
                </ul>
            </li>
            <li class="list">
                <ul class="third">
                    <li><a class="a small-list sets" href="product.html#sets">Sets</a></li>
                    <li><a class="a small-list outerwear" href="product.html#outerwear">Outerwear</a></li>
                    <li><a class="a small-list sleepwear" href="product.html#sleepwear">Sleepwear</a></li>
                    <li><a class="a small-list accessories" href="product.html#accessories">Accessories</a></li>
                </ul>
            </li>
            <li class="list">
                <ul class="fourth">
                    <li><a class="a small-list socks" href="product.html#socks">Socks</a></li>
                    <li><a class="a small-list shoes" href="product.html#shoes">Shoes</a></li>
                    <li><a class="a small-list"></a></li>
                    <li><a class="a small-list"></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <header>
            <div class="first-header">
                <div class="hamburger">
                    <a href="#"><i class="a im im-data"></i></a>
                </div>
                    <a href="index.html" class="a smallworld">small world</a>
            </div>
            <div class="second-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 9.408l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7zm6-3c-1.787 0-3.46.474-4.911 1.295l.228.2 1.396 1.221c1.004-.456 2.114-.716 3.287-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.283-.26-3.288-.715l-1.396 1.221-.228.2c1.452.82 3.125 1.294 4.912 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z"/></svg>
            </div>
        </header>
        <div class ="main-content">
            <div class = "image-section">
              <img class = "aboutus-image" src="../img/aboutus.jpg">
            </div>
            <div class="aboutusTitle">
                <h1>about us</h1>
            </div>
            <div class="first-para"> 
                <h3>welcome to small world</h3>
                <p>SMALL WORLD is a design house with every kid at its heart—because individual style starts early. Each season we tell stories, some familiar and some new. Inspired by the places we go, the people we admire and all the unexpected stuff in between, our collections feature modern twists on classic fashion. With everything we do, we hope to make your life a little more special.</p>
            </div>
            <div class="second-para">
                <h3>a forever kind of love</h3>
                <p>We make clothes that last. Keepsakes that can stay with your family, be handed down to your friends or donated for someone else to love.</p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="foot">
            <a href="index.html" class='footerhtml home'>home</a>
            <a href="aboutus.html" class='footerhtml aboutus'>About us</a>
            <a href="contactus.html" class='footerhtml contactus'>Contact us</a>
        </div>
    </div>
</footer>
    <script src="../js/hamburgerbar.js"></script>
    <script src="../js/index.js"></script>

</body>
</html>







